.main {
  max-width: 420px;
}

.consentimiento-legal {
  font-size: 0.85rem;
  color: #374151;
  line-height: 1.45;
}

.consentimiento-legal input {
  margin-right: 6px;
  vertical-align: middle;
}

.consentimiento-legal a {
  color: #4338ca;
}
